<%= form_with(model: person, class: 'needs-validation', novalidate: true) do |form| %>
  <div class="row g-3">

    <div class="col-md-6">
      <%= form.text_field :first_name, class: 'form-control', placeholder: "First Name", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.text_field :last_name, class: 'form-control', placeholder: "Last Name", required: true %>
    </div>

    <div class="col-md-4">
      <%= form.select :gender, ['Male', 'Female'], { prompt: 'Select Gender' }, class: 'form-select', required: true %>
    </div>

    <div class="col-md-4">
      <%= form.number_field :age, class: 'form-control', placeholder: "Age", required: true %>
    </div>

    <div class="col-md-4">
      <%= form.text_field :user_name, class: 'form-control', placeholder: "Username", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.email_field :email, class: 'form-control', placeholder: "Email", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.telephone_field :phone, class: 'form-control', placeholder: "Phone Number", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.text_field :address_street, class: 'form-control', placeholder: "Address Street", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.select :address_county, ['County 1', 'County 2', 'County 3'], { prompt: 'Select County' }, class: 'form-select', required: true %>
    </div>

    <div class="col-md-6">
      <%= form.select :college, ['College 1', 'College 2', 'College 3'], { prompt: 'Select College' }, class: 'form-select', required: true %>
    </div>

    <div class="col-md-6">
      <%= form.text_field :course, class: 'form-control', placeholder: "Course", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.number_field :year, class: 'form-control', placeholder: "Year", required: true %>
    </div>

    <div class="col-12">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>

  </div>
<% end %>
