<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= person.age %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= person.user_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address_street %>
  </p>

  <p>
    <strong>County:</strong>
    <%= person.address_county %>
  </p>

  <p>
    <strong>College:</strong>
    <%= person.college %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= person.course %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= person.year %>
  </p>

</div>
